<div class="form-container">
  <form [formGroup]="outstandingMortgageForm" (ngSubmit)="submitForm()">
    <h2>Simulador de Amortización</h2>

    <div>
      <label for="remainingCapital">Capital Pendiente:</label>
      <input id="remainingCapital" type="number" formControlName="remainingCapital" placeholder="Ej: 100000">
      @if (outstandingMortgageForm.get('remainingCapital')?.invalid &&
      outstandingMortgageForm.get('remainingCapital')?.touched) {
      <small>El capital pendiente es obligatorio y debe ser al menos 1000.</small>
      }
    </div>

    <div>
      <label for="remainingYears">Años Pendientes:</label>
      <input id="remainingYears" type="number" formControlName="remainingYears" placeholder="Ej: 10">
      @if(outstandingMortgageForm.get('remainingYears')?.invalid &&
      outstandingMortgageForm.get('remainingYears')?.touched){
      <small>Los años pendientes son obligatorios y no pueden ser negativos.</small>
      }
    </div>

    <div>
      <label for="remainingMonths">Meses Pendientes:</label>
      <input id="remainingMonths" type="number" formControlName="remainingMonths" placeholder="Ej: 6">
      @if(outstandingMortgageForm.get('remainingMonths')?.invalid &&
      outstandingMortgageForm.get('remainingMonths')?.touched) {
      <small>Los meses pendientes son obligatorios y deben estar entre 0 y 11.</small>
      }
    </div>

    <div>
      <label for="interestRate">Tipo de Interés (%):</label>
      <input id="interestRate" type="number" formControlName="interestRate" placeholder="Ej: 2.5">
      @if(outstandingMortgageForm.get('interestRate')?.invalid &&
      outstandingMortgageForm.get('interestRate')?.touched) {
      <small>
        El tipo de interés es obligatorio y debe estar entre 0 y 100.
      </small>
      }
    </div>

    <button type="submit" [disabled]="outstandingMortgageForm.invalid">Calcular Simulación</button>
  </form>
</div>