<form [formGroup]="mortgageForm">
  <!-- Field: Amount -->
  <div>
    <label for="amount">Amount to Finance</label>
    <input
      id="amount"
      type="text"
      [value]="formattedAmount"
      (input)="onAmountInput($event)"
      (blur)="onAmountBlur()"
      placeholder="Enter the amount"
      />
    @if (mortgageForm.get('amount')?.invalid && mortgageForm.get('amount')?.touched) {
      <div>
        @if (mortgageForm.get('amount')?.errors?.['required']) {
          <small>This field is required</small>
        }
        @if (mortgageForm.get('amount')?.errors?.['min']) {
          <small>Must be at least 1000</small>
        }
      </div>
    }
  </div>

  <!-- Field: Interest Rate -->
  <div>
    <label for="interestRate">Interest Rate (%)</label>
    <input
      id="interestRate"
      type="number"
      formControlName="interestRate"
      placeholder="Enter the interest rate in %"
      />
    @if (mortgageForm.get('interestRate')?.invalid && mortgageForm.get('interestRate')?.touched) {
      <div>
        @if (mortgageForm.get('interestRate')?.errors?.['required']) {
          <small>This field is required</small>
        }
        @if (mortgageForm.get('interestRate')?.errors?.['min']) {
          <small>Must be greater or equal to 0</small>
        }
        @if (mortgageForm.get('interestRate')?.errors?.['max']) {
          <small>Must be less or equal to 100</small>
        }
      </div>
    }
  </div>

  <!-- Field: Years -->
  <div>
    <label for="years">Years</label>
    <input
      id="years"
      type="number"
      formControlName="years"
      placeholder="Enter the number of years"
      />
    @if (mortgageForm.get('years')?.invalid && mortgageForm.get('years')?.touched) {
      <div>
        @if (mortgageForm.get('years')?.errors?.['required']) {
          <small>This field is required</small>
        }
        @if (mortgageForm.get('years')?.errors?.['min']) {
          <small>Must be at least 1 year</small>
        }
      </div>
    }
  </div>

  <!-- Field: Periods per year -->
  <div>
    <label for="periodsPerYear">Periods per year</label>
    <input
      id="periodsPerYear"
      type="number"
      formControlName="periodsPerYear"
      placeholder="Enter the number of periods"
      />
    @if (mortgageForm.get('periodsPerYear')?.invalid && mortgageForm.get('periodsPerYear')?.touched) {
      <div>
        @if (mortgageForm.get('periodsPerYear')?.errors?.['required']) {
          <small>This field is required</small>
        }
        @if (mortgageForm.get('periodsPerYear')?.errors?.['min']) {
          <small>Must be at least 1 period</small>
        }
      </div>
    }
  </div>

  <!-- Submit Button -->
  <button [disabled]="mortgageForm.invalid" (click)="submitForm()">Submit</button>
</form>
